#jk{
    color:chartreuse;
}
.cl{
    color:darkgoldenrod;
    text-shadow: darkolivegreen;
    font-weight: bolder;
    background-color: bisque;
    margin: 10px;
    
    
}
h3{
    color: blueviolet;
}
body{
    color: grey;

}
*{
margin: 0%;
}